.footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  
  .footerLinks {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
  }
  
  .footerLinks a {
    color: #fff;
    text-decoration: none;
  }
  
  .footerLinks a:hover {
    text-decoration: underline;
  }
  
  .footer p{
    font-size: 14px;
  }
  